#qa-page-wrapper {
    float: left;
    margin: 0 -26.4% 0 0;
    width: 100%;
}

#qa-content-wrapper {
    width: 65%;
    margin: 0 35% 0 0;
    float: none;
}

#question-body, .answer-body {
    width: 89%;
}

#qa-menu form {
padding-top: 0;
}

#qa-menu button{
height:22px;
padding-top:1px;
}

.question-summary{
padding: 8px 5px 0 10px;
}

.question h3{
margin-bottom:10px;
}

.question-started{
margin-top:10px;
}

#question-content p{
margin-bottom: 1.625em;
}

#question-body, .answer-body{
line-height:1.625;
}
